:root {
}

.text_1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #656565;
}

.text_2 {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  color: #5d9cec;
}

.text_3 {
  color: #656565;
  font-size: 14px;
  line-height: 16px;
}

.text_4 {
  font-size: 11px;
  line-height: 13px;
  color: #cecece;
}
